/* Styles for <blockqoutes> */
blockquote {
  margin: 0;
  background-color: #f4f4f4;
  padding: 8px;
  padding-left: 20px;
  border-left: 5px solid #c0c0c0;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

blockquote .author {
  text-align: right;
}


/* Styles for list of personal qoutes */
ul.quotes {
  padding: 0;
}

ul.quotes li {
  margin-bottom: 8px;
}

ul.quotes li:before {
  content: '';
}
